/.vs
/M2SpritesImage/bin
M2SpritesImage/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
M2SpritesImage/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
M2SpritesImage/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
M2SpritesImage/obj/x86/Debug/M2UiElementManagerV1.exe
M2SpritesImage/obj/x86/Debug/M2UiElementManagerV1.pdb
M2SpritesImage/obj/x86/Release/M2SpritesImage.csproj.AssemblyReference.cache
M2SpritesImage/obj/x86/Release/M2UiElementManagerV1.exe
M2SpritesImage/obj/x86/Release/M2UiElementManagerV1.pdb
